.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.form__input {
  box-sizing: border-box;
  height: 60px;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0;
}

.form__button {
  border: none;
  border-radius: 4px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100;
  background-color: #2f80ed;
  padding: 0;
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}
