.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  max-width: 729px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.header__title-span {
  color: #2f80ed;
  font-style: italic;
  font-size: 60px;
  font-family: "Noto Serif", "Times New Roman", serif;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  z-index: 99;
  top: 124px;
}

.header__footer {
  font-weight: 500;
  color: #838383;
  display: flex;
  position: absolute;
  align-items: flex-end;
  bottom: 40px;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 80px;
}

.header__hours {
  text-align: left;
}

.header__paragraph {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}
